{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'sports/styling.css' %}">
        <title>Reset password</title>
    </head>
    <body>
        {% include 'sports/_navbar.html' %}
        <form method="POST">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <div class="inputforms">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <br>
                <br>
                <br>
                <input type="submit" value="Reset">
            </div>
        </form>
    </body>
</html>