{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'sports/styling.css' %}">
        <title>Sign in</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        {% include 'sports/_navbar.html' %}

        <form method="POST">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <div class="inputforms">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <br>
                <br>
                <input type="submit" value="Login">
                <a href="{% url 'register' %}">Sign Up</a>
                <a href="{% url 'reset_password' %}">forgot Password?</a>
            </div>
        </form>
    </body>
</html>